@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #222 ;
    /* background-color: #111; */
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.lists{
    margin-top: -150px;
}

footer{
     margin: 50px 0;
     text-align: center;
}

footer > spam{
    color: #f00;
}

footer > .button{
    display: flex;
    flex-direction: column;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.loading{
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     bottom:0;
     z-index: 99;
     background-color: #000;
     display: flex;
     justify-content: center;
     align-items:center; 
}
